body {
    width: 300px;
    margin: 1em auto;
    font-family: sans-serif;
    font-size: 16px;
}

#tasks > div {
    margin-top: 0.5em;
    padding: 0.5em;
    background-color: rgb(245, 245, 245);
    border: 1px rgb(235, 235, 235) solid;
}
